#footer {
  margin-bottom: 0px;
  width: 100%;
  color: $color-meta;
  font-size: 0.875rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  bottom: 16px;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 15px;
    border-right: 0.5px solid;
    border-color: $color-border;

    a {
      margin-right: 15px;
    }
  }
  li:last-child {
    margin-right: 0;
    border-right: 0;

    a {
      margin-right: 0;
    }
  }
  a {
    color: $color-link;
    border:0px;
  }
  a:hover {
    color: lighten($color-link-hover, 20%);
  }
  
  .footer-left {
  }
  .footer-right {
  }

  #land-acknowledgement {
    margin-top:16px;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
  }
};
