{{ define "main"}}
<div id="archive">
    <ul class="post-list">
        {{ $pages := .Paginator.Pages }}
        {{ if .Site.Params.showAllPostsArchive }}
        {{ $pages = .Pages }}
        {{ end }}
    <ul class="posts">
  {{ range .Data.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>
    {{ if isset .Params "category" }}
    &middot;
    {{ range .Params.category }}<a class="label" href="{{ .Page.Permalink }}">{{ . }}</a>{{ end }}
    {{ end }}</span>
    &middot; <time>{{ .Date.Format "Jan 2, 2006" }}</time></li>
  {{ end }}
  </ul>

    {{ if eq .Site.Params.showAllPostsArchive false }}
    {{ partial "pagination.html" . }}
    {{ end }}
</div>
{{ end }}