<footer id="footer">
  <div class="footer-left">
    Copyright  &copy; {{ now.Format "2006" }} 
      {{ if .Site.Copyright }} <a href="/about">{{ print .Site.Copyright | markdownify }}</a> 
      {{ else }} 
      {{ print .Site.Title }} 
      {{ end }}
  </div>
  <div class="footer-right">
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
  </div>
  <div id="land-acknowledgement">
    <div class="flex justify-center">
    {{ if .Site.Params.landAcknowledgement }} 
    {{ print .Site.Params.landAcknowledgement | markdownify }} 
    {{ else }} 
    {{ end }}
    </div>
  </div>
</footer>
