@import "../../../assets/css/succulent-colors";

$color-background: $ghost-white !default;
$color-footer-mobile-1: darken($color-background, 4%) !default;
$color-footer-mobile-2: darken($color-background, 10%) !default;
$color-background-code: lighten($gunmetal, 60%) !default;
$color-border: $space-cadet !default;
$color-meta: $space-cadet !default;
$color-meta-code: lighten($color-meta, 10%) !default;
$color-link: $red-purple !default;
$color-link-hover: $lavender-blush !default;
$color-text: $gunmetal !default;
$color-accent-1: $space-cadet !default;
$color-accent-2: $steel-pink !default;
$color-accent-3: $carnation-pink !default;
$color-quote: $tyrian-purple !default;
