{{- if .Title -}}
    <figure>
        {{- dict "Src" .Destination "Title" .Text "Caption" .Title "Linked" true "Resources" .Page.Resources | partial "plugin/img.html" -}}
        <figcaption class="image-caption">
            {{- .Title | safeHTML -}}
        </figcaption>
    </figure>
{{- else -}}
    {{- dict "Src" .Destination "Title" .Text "Resources" .Page.Resources | partial "plugin/img.html" -}}
{{- end -}}

<!-- {{ $image := .Page.Resources.GetMatch .Destination }}
{{ if gt $image.Width 640 }}
    {{ $image = $image.Fit "600x400" }}
{{ end }} -->
<!-- <figure>
    <img src="{{ $image.RelPermalink | safeURL }}" {{ with .Text }} alt="{{ . }}" {{ end }} {{ with .Title }} title="{{ . }}" {{ end }}/>
    {{ with .Title}} <figcaption>{{ . | markdownify }}</figcaption> {{ end }}
</figure> -->
