.post-single a {
    color: var(--cobalt-blue) !important;
    text-decoration: none;
    border-bottom: 0.5px solid var(--link);
}

.post-single a:hover {
    text-decoration: none;
    background-color: var(--light-pink);
    border-bottom: solid 0.5px var(--link);
    color: var(--link);
}

.post-content a,
a:hover {
    box-shadow: none; 
}

.footer a {
    color: var(--black);
    border-bottom: 1px solid var(--link);
}

.footer a:hover {
    background-color: var(--light-pink);
    border-bottom: 1px solid var(--link-hover);
}

.social-icons a svg {
    height:26px;
    width:26px;
}

.social-icons a:hover {
    color: var(--bright-purple) !important;
 }

.button {
    border: 1px solid var(--border);
    background: var(--tertiary);
    color: var(--primary);
}

.button:hover {
    color: var(--bright-purple);
    background: var(--light-pink);
}

.post-tags a {
    color:var(--bright-purple);
    background:var(--tertiary);
    border:1px solid var(--border);  
}

.post-tags a:hover {
    color: var(--bright-purple);
    background: var(--light-pink);   
}

.paginav {
 border-radius:var(--radius);
 background:var(--tertiary);
 border:1px solid var(--border);
}

.paginav a {
    border: none;
}

.paginav a:hover {
    color: var(--bright-purple);
    background: var(--light-pink);
    border: none;
}

#privacy-statement {
    color: var(--primary);
    margin-bottom: 16px;
    font-size: 0.75rem;
    line-height: 1.2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--border);
}
