// ==============================
// Custom style
// ==============================

@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Forum&family=Inconsolata&family=Roboto:wght@300;400&family=Urbanist:ital,wght@0,300;1,300&display=swap');

.links i {
  padding-left: 10px;
  padding-right: 10px;
}

.links a {
  color: $bluegray-600;
}

.links a:hover {
  color: $pink-800;
}

.content a {
  background-color: $pink-100;
  border-bottom: solid 0.5px $pink-200;
}

.content {
  color: $bluegray-800 !important;
}

.header-title {
  font-family: Comfortaa, Urbanist, Roboto, serif;
}

.single-title {
  font-family: Comfortaa, Urbanist, Roboto, serif;
}

.footnotes {
  font-size: 0.875rem;
  color: $bluegray-600 !important;
}
