// ==============================
// Custom style
// ==============================

@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Forum&family=Inconsolata&family=Roboto:wght@300;400&family=Urbanist:ital,wght@0,300;1,300&display=swap');

.links i {
  padding-left: 10px;
  padding-right: 10px;
}

.links a {
  color: $gunmetal;
}

.links a:hover {
  color: $red-purple !important;
}

.post-meta a {
  color: $steel-pink !important;
}

.post-meta a:hover {
  color: $red-purple !important;
}

.post-footer a {
  color: $steel-pink !important;
}

.post-tags a:hover {
  color: $red-purple !important;
}

.content a {
  background-color: $lavender-blush;
  border-bottom: solid 0.5px $carnation-pink;
}

.content {
  color: $gunmetal !important;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}

.content p {
  padding: 8px 0 !important;
}

.footnotes {
  font-size: 0.875rem;
  color: $space-cadet !important;
}

.home {
  .summary {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 0.5px solid $global-border-color;

    .content {
  /*     @include box(vertical);
  -webkit-line-clamp: 3; */
      margin-top: 4.8px;
      width: 100%;
  /*     overflow: hidden;
  text-overflow: ellipsis;
  @include overflow-wrap(break-word); */
      color: $global-font-secondary-color;
    }
  }
}
