
// ==============================
// Override Variables
// ==============================

@import 'colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&family=Forum&family=Inconsolata&family=Roboto:wght@300;400&family=Urbanist:ital,wght@0,300;1,300&display=swap');

// Font and Line Height
$global-font-family: Urbanist, Roboto, Emoji, Helvetica, Arial, sans-serif;
$global-font-size: 18px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color: $bluegray-100;
$global-background-color-dark: #000505;

// Color of the text
$global-font-color: $bluegray-800;
$global-font-color-dark: #a9a9b3;

// Color of the secondary text
$global-font-secondary-color: $bluegray-500;
$global-font-secondary-color-dark: #5d5d5f;

$global-link-color: $pink-800;
$global-link-color-dark: #a9a9b3;

// Color of the hover link
$global-link-hover-color: $bluegray-800;
$global-link-hover-color-dark: #fff;

// Color of the border
$global-border-color: #f0f0f0;
$global-border-color-dark: #363636;
// ========== Global ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem;

// Font family and size of the header title
$header-title-font-family: $global-font-family;
$header-title-font-size: 1.5rem;

// Color of the header background
$header-background-color: $pink-100;
$header-background-color-dark: #252627;

// Color of the hover header item
$header-hover-color: #161209;
$header-hover-color-dark: #fff;

// Color of the search background
$search-background-color: #e9e9e9;
$search-background-color-dark: #363636;
// ========== Header ========== //

// ========== Single Content ========== //
// Color of the single link
$single-link-color: $bluegray-600;

// Color of the hover single link
$single-link-hover-color: $pink-800;
