
// ==============================
// Override Variables
// ==============================

// Font and Line Height
$global-font-family: system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif;
$global-font-size: 16px;
$global-font-weight: 400;
$global-line-height: 1.5rem;

// Color of the background
$global-background-color: #fff;
$global-background-color-dark: #000505;

// Color of the text
$global-font-color: #161209;
$global-font-color-dark: #a9a9b3;

// Color of the secondary text
$global-font-secondary-color: #a9a9b3;
$global-font-secondary-color-dark: #5d5d5f;

$global-link-color: #4e009d;
$global-link-color-dark: #a9a9b3;

// Color of the hover link
$global-link-hover-color: #006e6e;
$global-link-hover-color-dark: #fff;

// Color of the border
$global-border-color: #f0f0f0;
$global-border-color-dark: #363636;
// ========== Global ========== //
