$white: #ffffff;
$black: #000000;

$gray-50: #f8f8f8;
$gray-100: #f2f2f2;
$gray-200: #b1b3b4;
$gray-500: #646668;
$gray-800: #292a2b;

$bluegray-100: #f0f3f5;
$bluegray-200: #b4c3cb;
$bluegray-500: #7892a1;
$bluegray-600: #546b78;
$bluegray-800: #34434b;

$blue-100: #edf3f7;

$pink-100: #ffe6ec;
$pink-200: #ffb3c6;
$pink-500: #ff809f;
$pink-800: #ff1a53;



$purple-300: #4e009d;
