$white: #ffffff;
$black: #000000;

$space-cadet: #273654;
$gunmetal: #262E3E;
$steel-pink: #BA3BCE;
$wild-blue-yonder: #B5BCE3;
$ghost-white: #F1F2F9;
$tyrian-purple: #6B0339;
$red-purple: #DB0674;
$lavender-blush: #F9F0F5;
$carnation-pink: #FC9ECC;
$cultured: #EBEBEB;
$hookers-green: #567C77;
