$white: #ffffff;
$black: #000000;

$white: #F7F2F8; //background white 
$light-blue: #B6C5D1; // code background light gray blue
$medium-blue: #7C98B3; // border medium gray blue
$purple: #9B55D2;// meta purple
$light-purple: #AE84A0; // meta code (hover?) light purple
$coral: #E02C29; // link coral 
$light-pink: #FBDAE7; // link hover pink
$black: #1C1D21; // text black
$cobalt-blue: #3D348B; // accent 1 bright cobalt blue
$fluorescent-red: #FF3864; // accent 2 fluorescent red
$fluorescent-green: #5DFDCB; // accent 3 very bright light green
$bright-purple: #7A28CB; // quote bright purple
