// need 12 colors total

$white: #F7F2F8; //background white 
$light-blue: #B6C5D1; // code background light gray blue
$medium-blue: #7C98B3; // border medium gray blue
$purple: #9B55D2;// meta purple
$light-purple: #AE84A0; // meta code (hover?) light purple
$coral: #E02C29; // link coral 
$light-pink: #FBDAE7; // link hover pink
$black: #1C1D21; // text black
$cobalt-blue: #3D348B; // accent 1 bright cobalt blue
$fluorescent-red: #FF3864; // accent 2 fluorescent red
$fluorescent-green: #5DFDCB; // accent 3 very bright light green
$bright-purple: #7A28CB; // quote bright purple

// other options 
// $skobeloff: #046865; // dark green
// $acid-green: #BAB700; // what it says in the name!
// $cyclamen: #F06C9B; // pink
// $indigo-dye: #083D77; // blue
// $cultured :#EBEBEB; // white for background
// $claret: #750D37; // red
// $fandango-pink: #EB4789; // flamingo pink
// $cotton-candy: #F7B6D0 //light pink

// $baby-powder: #FFFFFA; // white 
// $magnolia: #F7F2F8; // white
// $beau-blue: #B6C5D1; // light gray blue
// $cerulean-frost: #7C98B3; // medium gray blue
// $twilight-lavender: #784E6A;// dusty purple
// $amethyst: #9B55D2; // purple
// $opera-mauve: #AE84A0; // meta code (hover?) light purple
// $fire-opal: #E85F5C; // coral 
// $permanent-geranuim-lake: #E02C29; coral 
// $cotton-candy: #F7B6D0 // light pink
// $mimi-pink: #FBDAE7 // light pink
// $eerie-black: #1C1D21; // black
// $cosmic-cobalt: #3D348B; // bright cobalt blue
// $radical-red: #FF3864; // fluorescent red
// $sea-green-crayola: #5DFDCB; // fluorescent green
// $french-violet: #7A28CB; // bright purple