
@import '../../assets/css/custom-colors';
@import "variables";
@import "colors/{{ site.Params.colortheme | default "peculiar-monster" }}";
@import "mixins";
@import "partial/index";
@import "custom";

*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
  border-top: 2px solid $color-text;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  height: 100%;
  background-color: $color-background;
  color: $color-text;
  font-display: swap;
  font-weight: 400;
  font-size: $font-size;
  font-family: $font-family-body;
  line-height: $line-height;
  text-rendering: geometricPrecision;
  flex: 1;

  @include antialias();
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;

  a {
    color: $color-text;
    text-decoration: none;
  }
  a.icon {
    background: none;

    &:hover {
      color: $color-accent-2;
    }
  }
}
@media (min-width: 540px) {
  .image-wrap {
    flex-direction: row;
    margin-bottom: 2rem;

    .image-block {
      flex: 1 0 35%;
      margin-right: 2rem;
    }
    p {
      flex: 1 0 65%;
    }
  }
}
.max-width {
  max-width: $page-width;
}
@media (max-width: 480px) {  // smaller margins at smaller screen widths
  .px3 {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .my4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.highlight {

  & > div {
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }

  pre {
    border: none;
    background: none;
  }

  table {

    pre {
      margin-top: 0;
    }

    td:first-child {
      pre {
        padding-right: 0;
      }
    }

    td:last-child {
      pre {
        padding-left: 0;
      }
    }
  }
}
